# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.egg-info/
.venv/
.env
.e2e_skip.env
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# VSCode
.vscode/

# Docker
*.log
dist/
build/

web/node_modules/
web/dist/
web/coverage/
